

	  <div class="container">

	    <div class="row">
	      <div class="span9">	
		   <h1><%= @client.clientName %></h1>
			
			<p>
			  <%= link_to "Edit Client", edit_client_path(@client) %> |
			  <%= link_to "Back to Clients", clients_path %>
			</p></div>
	      <div class="span3">
	        <h2>Tasks</h2>
	        <p>List Tasks
	      </div> 
	    </div>
	  </div>
